@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 98%;
    /* Slightly off-white background for a softer look */
    --foreground: 220, 15%, 20%;
    /* Darker foreground text for better contrast */

    --nav-background: 0, 0%, 100%;
    /* Bright background for navigation */
    --nav-foreground: 220, 10%, 30%;
    /* Subtle grey for text */

    --muted: 220, 20%, 95%;
    /* Light grey for muted backgrounds */
    --muted-foreground: 220, 10%, 50%;
    /* Grey text on muted backgrounds */

    --popover: 0, 0%, 100%;
    /* White background for popovers */
    --popover-foreground: 220, 10%, 20%;
    /* Darker text for better readability */

    --border: 220, 15%, 85%;
    /* Light grey borders */
    --input: 220, 15%, 95%;
    /* Lighter input fields */

    --card: 0, 0%, 100%;
    /* White card background */
    --card-foreground: 220, 10%, 15%;
    /* Darker text color on cards */

    --primary: 220, 10%,20%;;
    /* Slightly muted blue for primary actions */
    --primary-foreground: 0, 0%, 100%;
    /* White text on primary buttons */

    --secondary: 220, 15%, 95%;
    /* Light grey for secondary elements */
    --secondary-foreground: 220, 10%, 20%;
    /* Dark grey text on secondary elements */

    --accent: 210 40% 96.1%;
    /* Softer blue for accents */
    --accent-foreground: 220, 10%, 20%;
    /* Darker text for accents */

    --destructive: 0, 80%, 60%;
    /* Red color for destructive actions */
    --destructive-foreground: 0, 0%, 100%;
    /* White text for destructive buttons */

    --ring: 220, 15%, 70%;
    /* Light grey for focus rings */

    --radius: 0.5rem;

    --warning: 31, 96%, 53%;

    --warning-foreground: 0, 0%, 100%;

    --info: 176, 100%, 13%
  }

  .dark {
    --background: 0, 0%, 0%;
    --foreground: 213 31% 91%;

    --nav-background: 0, 0%, 0%;
    --nav-foreground: 213 31% 91%;

    --muted: 0deg 0% 49% / 18%;
    --muted-foreground: 209, 34%, 30%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 0, 0%, 10%;
    --card-foreground: 0, 0%, 100%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 219, 22%, 20% 1%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --warning: 31, 96%, 53%;
    --warning-foreground: 0, 0%, 100%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
    --warning: 31, 96%, 53%;

    --warning-foreground: 0, 0%, 100%;

    --info: 176, 100%, 13%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}